/*body
{
    background: url("popup_backgroundBW.png") fixed top right;
    background-repeat: no-repeat;
    background-size:cover;
}*/

.stdbtn
{
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  padding: 6px;
  background: #a8a5a8;
  border: solid #000000 1px;
  text-decoration: none;
}

.stdbtn:hover 
{
  background: #cfcfcf;
  text-decoration: none;
}

.finterbtn
{
    width: 30px;
    height: 30px;
    background-image: url(finter.png); 
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 0px;
}

.finfobtn
{
    width: 30px;
    height: 30px;
    background-image: url(finfo.png); 
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 0px;
}

.fbleubtn
{
    width: 30px;
    height: 30px;
    background-image: url(fbleu.png); 
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 0px;
}

.fculturebtn
{
    width: 30px;
    height: 30px;
    background-image: url(fculture.png); 
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 0px;
}

.fmusiquebtn
{
    width: 30px;
    height: 30px;
    background-image: url(fmusique.png); 
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 0px;
}

.fipbtn
{
    width: 30px;
    height: 30px;
    background-image: url(fip.png); 
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 0px;
}

.mouvbtn
{
    width: 30px;
    height: 30px;
    background-image: url(mouv.png); 
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 0px;
}

.finterbtn:hover
{
    opacity: 0.3;
}

.finfobtn:hover
{
    opacity: 0.3;
}

.fbleubtn:hover
{
    opacity: 0.3;
}

.fculturebtn:hover
{
    opacity: 0.3;
}

.fmusiquebtn:hover
{
    opacity: 0.3;
}

.fipbtn:hover
{
    opacity: 0.3;
}

.mouvbtn:hover
{
    opacity: 0.3;
}